@charset "UTF-8";
div,ul,ol,li,a,img,body,html,p,h1,h2,h3,h4,h5,h6,input,textarea,button,select,span,b,header,footer,nav,label,form,del,table,tbody,thead,td,tr,th,dl,dd,dt,s,i{
    margin:0;padding:0;border:0;
}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;}
img{vertical-align:middle;}
body{
    background-color:#f2f2f2;
    font-size:.6rem;
    color:#333;
    font-family:"Microsoft yahei";
}
span{display:inline-block;}
input,select,textarea,button{
    font-family:"Microsoft yahei";
    color:#333;
}
.clear::after{
    content:"";
    height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
h3,h4{
    font-weight:normal;
}
i{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
.book-md4{
    width:33.3%;
    float:left;
}
s{
    background:url(../img/sjIcon.png) no-repeat center;
}
.mb{
    margin-bottom:20px;
}