@charset "UTF-8";
div,ul,li,a,img,body,html,p,h1,h2,h3,h4,h5,h6,input,textarea,button,select,span,b,header,footer,nav,label,form,del,table,tbody,thead,td,tr,th{
    margin:0;padding:0;border:0;
}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
img{vertical-align:middle;}
body{
    background-color:#f2f2f2;
    font-size:.6rem;
    color:#333;
    font-family:"microsoft yahei";
}
.clear::after{
    content:"";
    height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
h3,h4{
    font-weight:normal;
}
i{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
.book-md4{
    width:33.3%;
    float:left;
}
s{
    background:url(assets/sjIcon.png) no-repeat center;
}